.navbar {
  background-color: #1e1e2f;
}

.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  font-weight: bold;
}

.logo-icon {
  margin-right: 5px;
}

.nav-links {
  display: flex;
  gap: 20px;
}

.nav-item {
  color: white;
  text-decoration: none;
  font-size: 16px;
  position: relative;
  transition: color 0.3s ease;
}

.nav-item:hover {
  color: #fbc02d;
}

/* Underline effect on hover */
.nav-item::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background-color: #fbc02d;
  bottom: -3px;
  left: 50%;
  transition: all 0.3s ease-in-out;
  transform: translateX(-50%);
}

.nav-item:hover::after {
  width: 100%;
}

.login-button {
  color: white;
}
.menu-button {
  display: none;
}

/* Responsive */
@media (max-width: 768px) {
  .menu-button {
    display: block;
  }
  .nav-links {
    display: none;
  }
}
